:root {
    --cor-principal:  #101828;
    --cor-secundaria: #667085;
    --vermelho: #8E2424;
    --sombra: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    --branco: #FFFFFF;
    --preto: #000000;
}

body {
    font-family: Inter;
    font-weight: 400;
}

.cabecalho {
    display: flex;
    align-items: center;
    margin: 1.5em 2em;  
    justify-content: space-between; 
}

.cabecalho__logo {
    display: flex;
    align-items: center;
    margin-left: 4em;
    gap: 1em;
    color: var(--cor-principal);  
}

.cabecalho__nav {
    margin-right: 50%;
}

.cabecalho__nav-links {
    text-decoration: none;
    padding: 1em;
    color: var(--cor-secundaria);
}

.cadastrar {
    color: var(--branco);
    background: var(--vermelho);
    border: 1px solid var(--vermelho);
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}

.sobre-nos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7em 0;
    gap: 1em;
}

.sobre-nos__spam {
    color: var(--vermelho);
    font-weight: 600;
}

.sobre-nos__titulo {
    color: var(--cor-principal);
    font-weight: 600;
    font-size: 48px;
    letter-spacing: -0.02em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); 
}

.sobre-nos__texto {
    font-size: 20px;
    font-weight: 400;
    color: var(--cor-secundaria);
    max-width: 50%;
    height: 60px;
    text-align: center;
    line-height: 1.5em;
}

.metricas-container {
    display: flex;
    justify-content: space-around;
    margin: 0 5em;
    align-items: start;
}

.metricas-container__metrica {
    color: var(--vermelho);
    font-size: 60px;
    font-weight: 600;   
}

.metricas-container__titulo {
    color: var(--cor-principal);
    font-size: 18px;
    font-weight: 500;
    padding: 1em 0; 
}

.metricas-container__texto {
    color: var(--cor-secundaria);
    font-size: 16px;
    width: 280px;
}

.banner {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5em;
    text-align: center;
}

.banner-span {
    background-color: rgba(142, 36, 36, 0.05);
    color: var(--vermelho);
    padding: 4px 12px;
    border-radius: 16px;
    font-size: 14px;
    font-weight: 500;
}

.banner-titulo {
    color: var(--cor-principal);
    font-size: 36px;
    font-weight: 600;
    margin: 1.5em 0;
}

.banner-texto {
    color: var(--cor-secundaria);
    font-size: 20px;
    margin-bottom: 3em;
}

.jobs { 
    display: flex;
    flex-direction: column;
    margin: 0 25vw;
    align-items: start;
}

.banner-jobs-titulo{
    font-size: 20px;
    font-weight: 600;
    color: var(--preto);
    text-shadow: var(--sombra);
    margin: 2em 0;
}

.banner-jobs {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
    border: 1px solid #EAECF0;
    padding: 24px 24px 28px;
    border-radius: 16px;
    background: var(--branco);
    margin: 1em 0;
    width: 90%;
}  

.banner-jobs-oferta {
    font-size: 18px;
    font-weight: 500;
    color: var(--cor-principal);
}

.descricao {
    display: flex;
    color: var(--cor-secundaria);
    gap: 24px;
    font-size: 16px;
}

.depoimentos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgba(196, 25, 25, 0.03);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    padding: 64px;
    width: 80vw;
    margin: auto;
}

.depoimentos-descricao-span {
    font-size: 14px;
    font-weight: 600;
    color: var(--vermelho);
}

.depoimentos-titulo {
    font-size: 44px;
    font-weight: 500;
    letter-spacing: -0.02em;
    color: var(--cor-principal);  
    margin: 1em 0;  
}

.depoimentos-colaborador-nome {
    font-size: 16px;
    font-weight: 600;
    color: var(--cor-principal);
    margin: 1em 0;
}

.depoimentos-colaborador-cargo {
    font-size: 14px;
    color: var(--cor-secundaria);
}
